$heading-font-color: #222;
$main-font-color: #222;
$disabled-font-color: #369ff4;
$accent-color: #c2a67d;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  color: $main-font-color;
}
