$heading-font-color: #424242;
$main-font-color: #222;
$hover-font-color: #555;
$accent-color: #aaa;
$highlight-accent-color: rgb(205, 201, 203);
$link-color: $heading-font-color;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Coda');

.warg-ebay-page {
  color: $main-font-color;
  font-size: 14px;
  min-height: 400px;
  line-height: 1.25em;
  font-family: 'Open Sans', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $heading-font-color;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Coda', sans-serif;
  }

  input {
    display: none;
  }

  label {
    text-transform: uppercase;
    font-family: 'Coda', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    padding: .5em 0 .25em;
    margin-right: 1em;
    color: $accent-color;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: all .25s ease-in-out;

    &:hover {
      color: $hover-font-color;
      cursor: pointer;
    }

    br {
      display: none;
    }

    @media screen and (max-width: 565px) {
      font-size: 1.2em;

      br {
        display: inline;
      }
    }
  }

  input:checked + label {
    border-bottom: 3px solid $highlight-accent-color;
    color: $heading-font-color;
  }

  #details_tab_input:checked ~ #details_tab,
  #size_tab_input:checked ~ #size_tab,
  #shipping_tab_input:checked ~ #shipping_tab,
  #about_tab_input:checked ~ #about_tab {
    z-index: 2;
    opacity: 1;
  }

  img {
    max-width: 100%;
  }

  a {
    color: $link-color;
    text-decoration: underline;
    transition: all .25s ease-in-out;

    &:visited {
      color: $link-color;
    }

    &:active,
    &:hover {
      color: $hover-font-color;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;

    span {
      border-bottom: 3px solid $highlight-accent-color;
      display: inline-block;
      padding-bottom: .25em;
    }
  }

  h3 {
    font-size: 1.25em;
  }

  .border {
    border-top: 1px solid $accent-color;
  }

  .tab {
    transition: opacity .25s ease-in-out;
    position: absolute;
    z-index: 1;
    opacity: 0;

    @media screen and (max-width: 650px) {
      margin-bottom: 1em;
    }

    h2 {
      display: none;
    }

    .container {
      //border-top: 1px solid $accent-color;
      padding: 1em 0;

      &.with-columns {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 650px) {
          flex-direction: column;
        }
      }
    }

    p {
      margin-top: 1em;
    }

    .leading-paragraph {
      margin-bottom: 1em;
      margin-top: 0;
    }

    .disclaimer {
      font-style: italic;
    }

    .column {
      margin-right: 3em;
      max-width: 500px;

      @media screen and (max-width: 650px) {
        &:first-of-type {
          margin-bottom: 2em;
        }
      }

      &.image {
        margin-right: 0;

        @media screen and (max-width: 1000px) {
          display: none;
        }

        width: 350px;
      }
    }

    table {
      margin: 1em 0;

      td {
        padding-right: 1em;
      }
    }

    section {
      margin-bottom: 1em;
    }

    .important {
      font-weight: bold;
    }
  }
}
